#root {
  margin: 0 auto;
  text-align: center;
}

/* #canvas {
  cursor: none;
} */

.app-header {
  display: flex;
  align-items: center;
  margin: 1rem;
  height: 1.5rem;
}

.app-color-picker {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #ececec;
  border-radius: 50%;
  white-space: nowrap;
  text-align: center;
  margin-left: 3rem;
}

.app-color-picker > img {
  vertical-align: middle;
}

.app-hex-color {
  display: flex;
  justify-content: center;
  width: 100%;
}
